<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask login</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;

        }

        nav{
            background: #333;
            color: white;
            padding: 15px;
            display: flex;
            justify-content: space-between;
        }
        a{
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
    <div>Flask Login</div>
    <div>
        {% if session.usuario%}
            bienvenido {{ session.usuario.nombre}}

            <a href="{{ url_for('logout') }}">
                Cerrar sesión
            </a>
            {% endif %}
    </div>
    </nav>
    <div style="padding: 20px;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>